

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.register-hover:hover{
    color: #428bca;
   
}

#intro1{
    background-color: rgb(242, 242, 242);
}

#intro2 {
    background-color: white;
}

.WA-redirect{
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    align-content: center;
    padding: 8.5px;
    width: 60px;
    height: 60px;
    background-color: white;
    z-index: 10;
}

.WA-redirect:hover {
   cursor: pointer;
}
.mob-view {
    display:none;
}
@media  (max-width: 600px){
    .mob-view{
        text-align: center;
        display: flex;
        border-top: 1px solid #fff;
        transition: all 0.3s ease-in-out 0s;
        z-index: 1000;
        width: 100%;
        background-color: #604280;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        bottom: 0;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        padding: 5px 20px;
        position: fixed;
    }
    .CTA-btn{
        width: 50%;
        display: flex
;
        padding: 5px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
    }
    .WA-redirect{
        display:none;
    }
    
}
