

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.register-hover:hover{
    color: #428bca;
}

#intro1{
    background-color: rgb(242, 242, 242);
}

#intro2 {
    background-color: white;
}

.WA-redirect{
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    align-content: center;
    padding: 8.5px;
    width: 60px;
    height: 60px;
    background-color: white;
    z-index: 10;
}

.WA-redirect:hover {
   cursor: pointer;
}